.product{
    display: flex;
    gap: 50px;
    padding: 20px 50px;
}
.product_left{
 flex: 1;
 display: flex;
 gap:20px
}


.productImage{
 flex: 1;
}
.imgprod {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
    }
.mainproductImage{
flex:5
}

.mainImg {
    width: 100%;
    height: 310px;
max-height: 800px;
object-fit: cover;
cursor: pointer;
}


.product_right{
    flex:1;
    }